
*.db
*.db-shm
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.dll
*.obj
*.exp
*.lib
*.pdb
*.log
*.iobj
*.ipdb
*.res
*.lastbuildstate
*.tlog
.vs/jip_nvse/v16/.suo
.vs/jip_nvse/v17/.suo
*.idb
.vs/jip_nvse/v17/.suo
